<div class="settings-modal">
    <form [formGroup]="settingsForm" class="settings-form">
        <div class="settings-form-input">
            <label>
                Falling Speed:
                <input formControlName="fallingSpeed" />
            </label>
            @if (settingsForm.get('fallingSpeed')?.invalid && settingsForm.get('fallingSpeed')?.dirty) {
                <span class="error" >
                    Must be a number between 1 and 5
                </span>
            }
        </div>

        <div class="settings-form-input">
            <label>
                Falling Frequency (ms):
                <input formControlName="fallingFrequency" />
            </label>
            @if (settingsForm.get('fallingFrequency')?.invalid && settingsForm.get('fallingFrequency')?.dirty) {
                <span class="error" >
                    Must be a number between 100 and 3000 ms
                </span>
            }
        </div>

        <div class="settings-form-input">
            <label>
                Player Speed:
                <input formControlName="playerSpeed" />
            </label>
            @if (settingsForm.get('playerSpeed')?.invalid && settingsForm.get('playerSpeed')?.dirty) {
                <span class="error" >
                    Must be a number between 1 and 10
                </span>
            }
        </div>

        <div class="settings-form-input">
            <label>
                Game Time (seconds):
                <input formControlName="gameTime" />
            </label>
            @if (settingsForm.get('gameTime')?.invalid && settingsForm.get('gameTime')?.dirty) {
                <span class="error" >
                    Must be a number >= 5sec
                </span>
            }
        </div>

        <button type="button" [disabled]="settingsForm.invalid" (click)="onClick()">
            {{ buttonText() }}
        </button>
    </form>
</div>
