.board {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #000;
  margin: 20px auto;
  background: #eee;
  overflow: hidden;

  .player {
    position: absolute;
    width: 40px;
    height: 20px;
    background: blue;
    bottom: 0;
  }

  .falling-object {
    position: absolute;
    background: red;
    border-radius: 50%;
  }

  .score, .timer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
  }

  .timer {
    left: auto;
    right: 10px;
  }
}
